{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Job Apple</title>
	<link rel='stylesheet' href='/static/css/main.css'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="icon" href="/static/img/job-apple.png" type="image/x-icon">
    </head>
    <body>
        <header>
            <a href='/'><img src="/static/img/job-apple-logo.png" alt="Job Apple Logo"><h1>Job Apple</h1></a>
        </header>
	{{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
	<script src='/static/js/main.js' type='text/javascript'></script>
    </body>
</html>
{{end}}
