body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: #f5f5f5;
    }

    a {
        color: #8ab4f8;
    }

    #nav-links a {
        color: #f5f5f5;
    }
    #links li a{
        color: #bbb;
    }
}

